{{!--
    Citation for starter code used in this file:
    Date Retrieved: 05/04/2026
    Adapted from: CS340 Node.js starter code
    Source: Oregon State University CS340 Exploration - Web Application Technology
    Type: Handlebars layout template

    Notes:
    Navigation and layout adapted for project specific entity pages.
--}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/bsg-people">BSG People</a>

        <!-- new pages being added below    -->
        <a href='/customers'>Customers</a>
        <a href="/suppliers">Suppliers</a>
        <a href="/products">Products</a>
        <a href="/orders">Orders</a>
        <a href="/orderitems">OrderItems</a>
        <a href="/supplierproducts">SupplierProducts</a>
    </nav>
 {{{body}}}
</body>
</html>