<h1>NERV Computer Parts</h1>

<h2>Database Utilities
<p>
    <a href="/demo-delete-customer">
        Delete Demo Customer
    </a>
</p>

<p>
    <a href="/reset">
        RESET Database
    </a>
</p>
</h2>
<div class="homepageDescription">
    

</div>

