{{!--
    Citation for starter code used in this file:
    Date Retrieved: 05/05/2026
    Adapted from: CS340 Node.js starter code
    Source: Oregon State University CS340 Exploration - Web Application Technology
    Type: Handlebars template / starter code

    Original bsg-people page syntax and structure was adapted into supplierProducts entity page.
--}} 

<!-- SupplierProducts Table Display -->
<h1>SupplierProducts</h1>

<table>

    <thead>
        <tr>
            <th>Supplier Product ID</th>
            <th>Supplier Name</th>
            <th>Product Name</th>
            <th>Actions</th>  <!-- Delete Button -->
        </tr>
    </thead>

    <tbody>

        {{#each supplierproducts}}
            <tr>
                <td>{{this.supplierProductID}}</td>
                <td>{{this.supplierName}}</td>
                <td>{{this.productName}}</td>
                    <!-- DELETE Buttom, with delete-form for CSS styling -->
                <td>
                    <form class="delete-form" action="/supplierproducts/delete" method="POST">
                        <input type="hidden" name="supplierProductID" value="{{this.supplierProductID}}">
                        <button type="submit">
                            Delete
                        </button> 
                    </form>
                </td>
            </tr>
        {{/each}}
        
    </tbody>

</table>


<!-- CRUD Actions Template !-->
<h2>Update SupplierProduct Relationship</h2>
<!-- class 'crud form' is used for specific CSS styling-->
<form class="crud-form" method="POST" action="/update-supplierproduct">

    <label for="update-supplierProductID">Supplier Product ID:</label>
    <input type="text" name="update-supplierProductID" id="update-supplierProductID">

    <label for="update-supplierID">Supplier ID:</label>
    <input type="text" name="update-supplierID" id="update-supplierID">

    <label for="update-productID">Product ID:</label>
    <input type="text" name="update-productID" id="update-productID">

    <input type="submit">

</form>